body {
    background-color :#faf3f3;
    
}

h1 {
    color: #da7f8f;
    text-align: center;
    letter-spacing: 6px;
    text-transform: capitalize;

}

h3 {
    color:#a7bbc7;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}

p {
    color: #194f5f;
    line-height: 15px;
    letter-spacing: 2.5px;
}

hr {

    color: #da7f8f;
    height: 1px;
}

li {
    color: #114e60;
}

#myself {                            
    color : rgb(228, 18, 98)
}

#myself + p {                  /*Example of adjacent selector*/
    color : crimson;
}

div > p {                     /*Example of descendent selector*/
    color: rgb(109, 17, 44);
}

h3 > img {
    background-color: darkred;
}